.jabeer {
  color: green;
}

#tagline {
  color: cyan;
}

[disabled] {
  color: brown;
}
/* 
fieldset
datalist
select
center
button

marquee
horizontal

small
subscript
section
span
caption
strike
div

*/
